html {
	font-family: 'Montserrat', sans-serif;
}
body {
	margin: 0px;
}

p {
	font-size: 24px;
	font-weight: 400;
}

.bg-img {
  /* The image used */
  background-image: url("../img/doge.jpg");
  min-height: 1080px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* The navbar */
.topnav, .nav-logo {
  overflow: hidden;
}

/* Navbar links */
.topnav a, .nav-logo a{
  float: right;
  color: #FFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover, .nav-logo a:hover {
  text-decoration: underline;
  color: #FFF;
}

.topnav a {
	font-size: 38px;
	font-weight: 400;
}

.nav-logo {
	float: left;
	font-size: 48px;
	font-weight: 700;
}

.container {
	margin: 0 50px;
}

.text-block {
	width: 33.3%;
	display: inline-block;
	margin: 1.5%;
	float: left;
}

.img-block {
	padding-top: 3rem;
	padding-left: 7rem;
	display: inline-block;
	width: 40%;
}

.img-block img {
	width: 700px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.footer {
	margin-top: 5rem;
	height: 250px;
	width: auto;
	background-color: #000;
	color: #FFF;
}

.footer .text-block {
	width: 30%;
}

.footer p {
	font-size: 16px;
}

.footer a {
	font-size: 48px;
	color: #FFF;
	padding: 10px;
}